body {
    background-color: white;
}

.wrapper {
background-color: rgb(37, 37, 37);
width: 700px;
margin: auto;
height: 100vh;
padding: 30px;
}

.kalkulator {
    border: 1px solid rgb(88, 88, 88);
    width: 400px;
    height: 90%;
    margin: auto;
    border-radius: 15px;
}

.whitesmoke {
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
}

.orange {
    background-color: rgb(209, 123, 25);
}

/* Screen */

.screen {
    height: 100px;
    font-size: 75px;
    font-weight: bolder;
    padding: 15px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* Row dan Col */

.row {
    display: flex;
    padding: 15px 20px;
    font-size: 35px;
    justify-content: space-evenly;
    font-weight: bold;
}

.col {
    border-radius: 50%;
    border: 1px ;
    width: 52px;
    height: 52px;
    text-align: center;
}

.equal {
    display: flex;
    justify-content: center;
    align-items: center;
}